:root {
    background-color: gray;
}

.cardstyle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.stmina {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.p-card-title {
    text-align: center;
} /* Embedded in Card componentry which allows to style the title of the card  

