:root {
    background-color: #e8d5c0;
}

.cardstyle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

.stmina {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.p-card-title {
    text-align: center;
}

.info {
    color: rgb(0, 0, 0);
}


